<!-- <div *ngFor="let item of stocks; let i = index">
    <div class="card">
        <div class="card-body" [routerLink]="['/search',keys[i]]">
            <span>
                <button class="btn btn-outline-secondary rounded-3 rounded-right" type="button" (click)="onClear(i)">
                  <i class="bi bi-x"></i>
            </button>
            </span>
            <h5 class="card-title">{{ keys[i] }}</h5>
            <div class="row">
                {{ item.c }}
            </div>
            <div class="row">
                {{ item.d }}
            </div>
            <div class="row">
                {{ item.dp}}
            </div>
            <div class="row">
                {{ item.t }}
            </div>
        </div>
      </div>
</div> -->
